---
import Hero from "../../components/Hero.astro";
import Layout from "../../layouts/Layout.astro";
import Footer from "../../components/footer.astro";
import PageSection from "../../layouts/PageSection.astro";

const postTitle = "What I read this week #1";
const postSlug = "1";
const postDate = "2024-07-07";
const postDescription = "Interesting reads from the past week - July 7th, 2024";

// };
---

<Hero title={postTitle} />

<Layout title={postTitle} description={postDescription}>
  <PageSection>
    <h1 class="text-black text-base font-semibold md:text-2xl">{postTitle}</h1>
    <p>Published on: {postDate}</p>
  </PageSection>
  <PageSection>
    <h2>
        <u>
            <a 
            href="https://www.nytimes.com/2005/06/05/magazine/monkey-business.html"
            style="color: blue">
            Monkey Business
            </a>
        </u>
    </h2>
    <br>
    <p>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/J8449HgS3FM?si=aV4Zh7Aa4P2nE-5L" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>        
      <br>
      An economist from Yale's experiment of introducing money to monkeys.
      <br>
      Find the complete study <a href="https://www.jstor.org/stable/10.1086/503550?read-now=1" style="color: blue">here</a> <br><br>
    </p>
    <br>
    <hr>
    <h2>
      <u>
          <a 
          href="https://www.theguardian.com/technology/2016/feb/12/women-considered-better-coders-hide-gender-github"
          style="color: blue">
          Women considered better coders - but only if they hide their gender
          </a>
      </u>
  </h2>
  <br>
  <p>
    Researchers find software repository GitHub approved code written by women at a higher rate than code written by men, but only if the gender was not disclosed 
  </p>
  <br>
  <hr>
  <h2>
    <u>
      <a 
          href="https://dri.es/balancing-makers-and-takers-to-scale-and-sustain-open-source"
          style="color: blue">
          Balancing Makers and Takers to scale and sustain Open Source
      </a></u>
  </h2>
  <br>
  <p>
    To scale and sustain Open Source ecosystems in a more efficient and fair manner, Open Source projects need to embrace new governance, coordination and incentive models.  
  </p>
  <br>
  <hr>
  <h2>
    <u>
      <a 
          href="https://www.youtube.com/watch?v=MBrWvBelt3o"
          style="color: blue">
          Open Source VC Funding: Joseph Jacks (OSS Capital) 
      </a></u>
  </h2>
  <br>
  <p>
    This is a very biased take considering JJ is a VC himself but I liked this insight -
    <br><br>
     "The pace of innovation is the only thing that actually matters. The moment you start to slow your pace of innovation you become horrible. Maybe you've built this Monopoly and a big profit profit stream but at that point you're going to get disrupted by someone else or you're going to have to disrupt yourself. The only thing that open source does is it accelerates that by a couple of orders of magnitude and you have to kind of be comfortable with that with that phenomena."
    <br><br>
    "There is no need to discriminate against commercialization in order for your business to be hugely successful. What you have to do though is embrace the pace of innovation that is forced upon you by a much larger surface area of collaboration and competition and when that happens all all it does is it benefits everybody"</p>  
  </PageSection>
  <Footer />
</Layout>
