---
import Hero from "../../components/Hero.astro";
import Layout from "../../layouts/Layout.astro";
import Footer from "../../components/footer.astro";
import PageSection from "../../layouts/PageSection.astro";

const postTitle = "What I read this week #2";
const postSlug = "1";
const postDate = "2024-07-14";
const postDescription = "Interesting reads from the past week - July 14th, 2024";

// };
---

<Hero title={postTitle} />

<Layout title={postTitle} description={postDescription}>
  <PageSection>
    <h1 class="text-black text-base font-semibold md:text-2xl">{postTitle}</h1>
    <p>Published on: {postDate}</p>
  </PageSection>
  <PageSection>
    <h2>
        <u>
            <a 
            href="https://www.technologyreview.com/2011/02/22/196987/when-the-butterfly-effect-took-flight/"
            style="color: blue">
            The Butterfly Effect
            </a>
        </u>
    </h2><br>
    <p>
      On a winter day 50 years ago, Edward Lorenz, a mild-mannered meteorology professor at MIT, entered some numbers into a computer program simulating weather patterns and then left his office to get a cup of coffee while the machine ran. When he returned, he noticed a result that would change the course of science. 
    </p>
    <br><br>
    <h3>Related: The Butterfly effect in technology</h3>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/EVQ94ssmjtg?si=dCgapipW-3dkaYv7" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <p>
      <br>
      How small events cause a huge change in the field of Technology
      <br>
      Kailash Nadh
    </p>
    <br>
    <hr>
    <h2>
      <u>
          <a 
          href="https://firstmonday.org/ojs/index.php/fm/article/view/4291/3381I"
          style="color: blue">
          "Free as in sexist?" Free culture and the gender gap
          </a>
      </u>
  </h2>
  <br>
  <p>
    Despite the values of freedom and openness, the free culture movement exhibits the same (or worse) imbalance in female participation as the computing culture from which it arose.
  </p>
  <br>
  <hr>
  <h2>
    <u>
      <a 
          href="https://paulgraham.com/microsoft.html"
          style="color: blue">
          Microsoft is dead [2007] - Paul Graham
      </a></u>
  </h2>
  <br>
  <p>
    also <a href="https://paulgraham.com/cliffsnotes.html" style="color: blue;">Microsoft is dead (cliffs notes)</a>
  </p>
  <br>
  <hr>
  <h2>
    <u>
      <a 
          href="https://x.com/tobi/status/1812126249709453717"
          style="color: blue">
          Chart of the century
      </a></u>
  </h2>
  <br>
  <p>
    <blockquote class="twitter-tweet"><p lang="en" dir="ltr">Everything in red is regulated in such a way that market forces don’t apply freely. <br><br>Blue lines are unencumbered. <a href="https://t.co/GCK8Ubl82R">https://t.co/GCK8Ubl82R</a></p>&mdash; tobi lutke (@tobi) <a href="https://twitter.com/tobi/status/1812126249709453717?ref_src=twsrc%5Etfw">July 13, 2024</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
 </p>    
  </PageSection>
  <Footer />
</Layout>
